"""Porjecto de Analise de Vendas de uma loja E-commerce"""

In [18]:
!pip install -q -u watermark

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -u

In [19]:
# Importando as bibliotecas para manipulacao de tabelas e visualizacao de dados
import pandas as pd
#importando a bibliteca numpy para operacoes matematicas
import numpy as np
#importando a biblioteca matplotlib para graficos
import matplotlib.pyplot as plt
#importando a biblioteca seaborn para graficos mais estatistica
import seaborn as sns
#importanado randonm para gerar numeros aleatorios
import random
#importando a biblioteca datetime para trabalhar com datas
from datetime import datetime, timedelta

"""Função Para Gerar dados Fícticios"""

In [ ]:
#Definição da função para gerar dados fictícios de vendas
def gerar_dados_vendas(num_vendas = 600):
    """Gera um Dtaframe com Pandas com dados de vendas fictícias para um e-commerce"""

#Mensagem inicial idincando a quantidade de registro a serem gerados
    print(f"\n Iniciando a geração de {num_vendas} registros de vendas")

#Dicionario com produtos, suas categorias e preços
    produtos = {
  'Laptop Gamer': {'categoria': 'Eletrônicos', 'preco': 1500},
  'Mouse Vertical:': {'categoria': 'Eletrônicos', 'preco': 80},
  'Teclado Mecânico': {'categoria': 'Eletrônicos', 'preco': 200},
  'Monitor Ultrawide': {'categoria': 'Eletrônicos', 'preco': 800},
  'Cadeira Gamer': {'categoria': 'Móveis', 'preco': 500},
  'Mesa para Escritório': {'categoria': 'Móveis', 'preco': 300},
  'Placa de Vídeo': {'categoria': 'Eletrônicos', 'preco': 1200},
  'SSD 1TB': {'categoria': 'Eletrônicos', 'preco': 250},
  }
#Cria uma lista apenas com os nomes dos produtos
    lista_produtos = list(produtos.keys())

#Dicionario com cidade e seus respectivos estados
    cidades = {
  'São Paulo': 'SP', 'Rio de Janeiro': 'RJ', 'Belo Horizonte': 'MG', 'Curitiba': 'PR',
  'Porto Alegre': 'RS', 'Salvador': 'BA', 'Fortaleza': 'CE',
  }

#Cria uma lista apenas com os nomes das cidades
    lista_cidades = list(cidades.keys())

#lista para armazenar os dados de vendas
    dados_vendas = []

#Definindo a data de início para as vendas
    data_inicio = datetime(2023, 1, 1)

#Loop para gerar os dados de vendas
    for i in range(num_vendas):
      #seleciona um produto aleatório
        produto_nome = random.choice(lista_produtos)

      #selecina uma cidade aleatória
        cidade_nome = random.choice(lista_cidades)

      #gera quantidade vendida entre 1 e 7
        quantidade = np.random.randint(1, 8)

      #Calcula o pedido apartir da data inicial
        data_pedido = data_inicio + timedelta(days = int(i/5), hours = random.randint(0, 23))

      #se o produto for Mouse ou Teclado, aplica desconto de 10%
        if produto_nome in ['Mouse Vertical:', 'Teclado Mecânico']:
            preco_unitario = produtos[produto_nome]['preco'] * np.random.uniform(0.9, 1.0)
        else:
            preco_unitario = produtos[produto_nome]['preco']

      #Adiciona um registro de venda a lista
        dados_vendas.append({
            'Id_Pedido': 100 + i ,
            'Data_Pedido': data_pedido,
            'Nome_Produto': produto_nome,
            'Categoria': produtos[produto_nome]['categoria'],
            'Preço_Unitário': round(preco_unitario, 2),
            'Quantidade': quantidade,
            'Valor_Total': preco_unitario * quantidade,
            'Cidade': cidade_nome,
            'Estado': cidades[cidade_nome],
            'Data_do_Pedido': data_pedido
        })
#Mensagem final indicando a conclusão da geração de dados
    print(f"Gerados {num_vendas} registros de vendas com sucesso!")
#Cria um DataFrame com os dados de vendas
    df_vendas = pd.DataFrame(dados_vendas)
    return df_vendas

In [21]:
df_vendas = gerar_dados_vendas(600)

 Iniciando a geração de 600 registros de vendas
Gerados 600 registros de vendas com sucesso!

In [22]:
#Shape do DataFrame
df_vendas.shape

(600, 10)

In [ ]:
#exibir as 5 primeiras linhas do DataFrame
df_vendas.head()

,Id_Pedido,Data_Pedido,Nome_Produto,Categoria,Preço_Unitário,Quantidade,Valor_Total,Cidade,Estado,Data_do_Pedido
0,100,2023-01-01 22:00:00,SSD 1TB,Eletrônicos,250.00,6,1500.000000,Porto Alegre,RS,2023-01-01 22:00:00
1,101,2023-01-01 20:00:00,Teclado Mecânico,Eletrônicos,182.97,2,365.942225,São Paulo,SP,2023-01-01 20:00:00
2,102,2023-01-01 00:00:00,Teclado Mecânico,Eletrônicos,185.17,3,555.500231,Belo Horizonte,MG,2023-01-01 00:00:00
3,103,2023-01-01 21:00:00,SSD 1TB,Eletrônicos,250.00,3,750.000000,Belo Horizonte,MG,2023-01-01 21:00:00
4,104,2023-01-01 17:00:00,Laptop Gamer,Eletrônicos,1500.00,1,1500.000000,Salvador,BA,2023-01-01 17:00:00

In [24]:
#exibe as ultimas 5 linhas do DataFrame
df_vendas.tail()

,Id_Pedido,Data_Pedido,Nome_Produto,Categoria,Preço_Unitário,Quantidade,Valor_Total,Cidade,Estado,Data_do_Pedido
595,695,2023-04-30 14:00:00,Cadeira Gamer,Móveis,500.00,4,2000.000000,Belo Horizonte,MG,2023-04-30 14:00:00
596,696,2023-04-30 19:00:00,SSD 1TB,Eletrônicos,250.00,5,1250.000000,Curitiba,PR,2023-04-30 19:00:00
597,697,2023-04-30 02:00:00,SSD 1TB,Eletrônicos,250.00,4,1000.000000,Belo Horizonte,MG,2023-04-30 02:00:00
598,698,2023-04-30 01:00:00,Monitor Ultrawide,Eletrônicos,800.00,3,2400.000000,Curitiba,PR,2023-04-30 01:00:00
599,699,2023-04-30 08:00:00,Teclado Mecânico,Eletrônicos,186.66,2,373.315976,Porto Alegre,RS,2023-04-30 08:00:00

In [25]:
#Exibe informações sobre o DataFrame
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_Pedido       600 non-null    int64
 1   Data_Pedido     600 non-null    datetime64[ns]
 2   Nome_Produto    600 non-null    object
 3   Categoria       600 non-null    object
 4   Preço_Unitário  600 non-null    float64
 5   Quantidade      600 non-null    int64
 6   Valor_Total     600 non-null    float64
 7   Cidade          600 non-null    object
 8   Estado          600 non-null    object
 9   Data_do_Pedido  600 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(4)
memory usage: 47.0+ KB

In [26]:
#Resumo estatístico das colunas numéricas
df_vendas.describe()

,Id_Pedido,Data_Pedido,Preço_Unitário,Quantidade,Valor_Total,Data_do_Pedido
count,600.000000,600,600.000000,600.000000,600.000000,600
mean,399.500000,2023-03-01 23:48:24,614.940083,3.908333,2499.369604,2023-03-01 23:48:24
min,100.000000,2023-01-01 00:00:00,72.000000,1.000000,72.752613,2023-01-01 00:00:00
25%,249.750000,2023-01-31 01:15:00,250.000000,2.000000,599.192525,2023-01-31 01:15:00
50%,399.500000,2023-03-01 23:00:00,300.000000,4.000000,1299.290811,2023-03-01 23:00:00
75%,549.250000,2023-03-31 19:45:00,1200.000000,6.000000,3500.000000,2023-03-31 19:45:00
max,699.000000,2023-04-30 19:00:00,1500.000000,7.000000,10500.000000,2023-04-30 19:00:00
std,173.349358,NaN,490.500182,1.999148,2665.985370,NaN

In [27]:
#tipos de dados
df_vendas.dtypes

Id_Pedido                  int64
Data_Pedido       datetime64[ns]
Nome_Produto              object
Categoria                 object
Preço_Unitário           float64
Quantidade                 int64
Valor_Total              float64
Cidade                    object
Estado                    object
Data_do_Pedido    datetime64[ns]
dtype: object